{% extends 'main.html' %}


{% block content %}
<h1>This is my home page</h1>
<hr>

<a href="{% url 'createpost' %}">Create a post</a>


{% for post in posts %}

<div>
    <a href="{% url 'profile' post.user.id %}"><p>@{{post.user.username}}</p></a>
    {% if request.user == post.user %}
    <a href="{% url 'updatepost' post.id %}">Update</a>
    <a href="{% url 'deletepost' post.id %}">Delete</a>
    {% endif %}
    <h3><a href="{% url 'postdetails' post.id %}">{{post.title}}</a></h3>
    <img  width="300px" height="400px" style="border:2px solid black;" src="/media/{{post.post_image}}"/>
    <hr>
</div>

{% endfor %}


{% endblock %}